/* Footer Stuff */

/* footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0px;
} */

/* body {
    position: relative;
    padding-bottom: 50px;
    min-height: 100vh;
} */



footer p {
    color:white;
}

.footer_stuff h3{
    color: white;
    margin: 5px 0px;
    margin: 5px 5px;
}

.footer_stuff {
    display: flex;
    align-items: center;
    justify-self: content;
    text-align: center;
    flex-direction: column;
    background: darkslateblue;

}

.other_links a{
    text-decoration: none;
    color: white;
}

.footer_stuff a i{
    margin: 10px 0px;
    font-size: 2rem;
}

.other_links a:hover i{
    color: rgb(2, 1, 7);
}

.footer_bottom{
    background: rgb(53, 45, 102);
    text-align: center;
    padding: 20px 0;
}

.footer_li{
    list-style-type: none;
}

footer {
    padding: 0;
    margin: 0;
}