body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(20, 20, 40);
    overflow-y: scroll; overflow-x: hidden;
    margin: 0;
}

nav{
    position: fixed;
    top: 0rem;
    height: 80px;
    width: 100%;
    background: darkslateblue;
}

label.title{                 /* Title Color */
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}

nav .tl_ul{                     /* Set Content of Toolbar to the Right Side*/
    float: right;
    margin-right: 40px;
}

nav .tl_li{                     /* Set Content of Toolbar side - by - side */
    display: inline-block;
    margin: 0 px;
    line-height: 80px;
}

nav .tl_ul .tl_li{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}


nav a{                      /* Set Content of Toolbar color, size, disable border and decor */
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    /* border: 1px solid transparent; */
    padding: 5px 15px;
    /* border-radius: 5px; */
    text-decoration: none;
}

.tl a:hover{          /* Have White Border around Toolbar text when user Hover's over and animation */
    border: 1px solid white;
    border-radius: 15px;
    transition: .05s;
    background-color: rgb(84, 0, 153);
}

* {
    /* padding: 0; */
    margin: 0;
    text-decoration: none;
} 


.checkbtn {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 50px;
    cursor: pointer;
}
#check{
    display: none;
}

@media (max-width: 1200px){
    label.title{
        font-size: 30px;
        padding-left: 60px;
    }
    nav .tl_ul .tl_li a{
        margin-right: 20px;
        font-size: 18px;
        text-align: center;
    }
}

@media (max-width: 1550px){
    .checkbtn{
        display: block;
    }
    .tl_ul {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgb(84, 0, 153);    /* Background Color of Collapsing Toolbar */
        top: 80px;
        left: 100%;                     /* Goes from right to left */
        text-align: center;
        transition: all .5s;             /* animation timing */
    }
    nav .tl_li .tl_ul{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a .tl_ul .tl_li{
        font-size: 25px;
    }
    a.active, a:hover{
        background: none;
        color: white;
    }
    #check:checked ~ .tl_ul{
        left: 0;
    }
}