body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(20, 20, 40);
    overflow-y: scroll; overflow-x: hidden;
}

nav{
    position: fixed;
    top: 0rem;
    height: 80px;
    width: 100%;
    background: darkslateblue;
}

label.title{                 /* Title Color */
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}

nav ul{                     /* Set Content of Toolbar to the Right Side*/
    float: right;
    margin-right: 40px;
}

nav li{                     /* Set Content of Toolbar side - by - side */
    display: inline-block;
    margin: 0 px;
    line-height: 80px;
}

nav a{                      /* Set Content of Toolbar color, size, disable border and decor */
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.tl a:hover{          /* Have White Border around Toolbar text when user Hover's over and animation */
    border: 1px solid white;
    transition: .5s;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.checkbtn {
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 50px;
    cursor: pointer;
}
#check{
    display: none;
}

@media (max-width: 1200px){
    label.title{
        font-size: 30px;
        padding-left: 60px;
    }
    nav ul li a{
        margin-right: 20px;
        font-size: 18px;
        text-align: center;
    }
}

@media (max-width: 1550px){
    .checkbtn{
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(84, 0, 153);    /* Background Color of Collapsing Toolbar */
        top: 80px;
        left: 100%;                     /* Goes from right to left */
        text-align: center;
        transition: all .5s;             /* animation timing */
    }
    nav li ul{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a ul li{
        font-size: 25px;
    }
    a.active, a:hover{
        background: none;
        color: white;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

body{
    min-width:1500px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:1000px;            /* As IE6 ignores !important it will set width as 1000px; */
 }